[Unit]
Description=MyCustomService: Recovery

[Service]
Type=oneshot
ExecStart=-/usr/local/bin/mycustomservice-recovery.sh
StandardOutput=journal
StandardError=journal